{% extends "layout.html" %}

{% block title %}{{ category_name }} Substances - Substance Search{% endblock %}

{% block head %}
    {{ super() }}
		<link rel="stylesheet" href="/static/css/category.css">
{% endblock %}

{% block content %}
    <h1>{{ category_name }} Substances</h1>

    <!-- Display substances in the category with card-like layout -->
    <div class="substance-grid">
        {% for substance in substances %}
        <a class="substance-card" href="/substance/{{ substance.slug }}" class="substance-link">
            <div class="substance-name">{{ substance.name }}</div>
        </a>
        {% endfor %}
    </div>
{% endblock %}
