{% extends "layout.html" %}

{% block title %}Disclaimer - Substance Search{% endblock %}

{% block head %}
    {{ super() }}
		<link rel="stylesheet" href="/static/css/disclaimer.css">
{% endblock %}

{% block content %}
    <h1>Terms of Service and Disclaimers</h1>

    <div class="notice">
        <span class="bold">Notice:</span> By using this website, you acknowledge and agree to the following terms and disclaimers.
    </div>

    <h2>Medical Disclaimer</h2>
    <p>The information provided by Substance Search is intended solely for educational and informational purposes. It is not a substitute for professional medical advice, diagnosis, or treatment. Never disregard professional medical advice or delay in seeking it because of something you have read on this website.</p>

    <h2>Legal Disclaimer</h2>
    <p>Substance Search does not advocate, endorse, or promote the use of any illegal substances. Users are responsible for ensuring they comply with all applicable laws and regulations regarding substance use in their respective jurisdictions. Possession, distribution, and cultivation of certain substances may be prohibited under federal or state law. Engaging in such activities can result in significant legal consequences.</p>

    <h2>Limitation of Liability</h2>
    <p>Substance Search endeavors to provide accurate and up-to-date information; however, it makes no representations or warranties of any kind, express or implied, about the completeness, accuracy, reliability, suitability, or availability with respect to the website or the information contained on the website for any purpose. Any reliance you place on such information is therefore strictly at your own risk.</p>
    <p>In no event will Substance Search or its contributors be liable for any loss or damage, including without limitation, indirect or consequential loss or damage, or any loss or damage whatsoever arising from loss of data or profits arising out of, or in connection with, the use of this website.</p>

    <h2>External Links Disclaimer</h2>
    <p>Through this website, you may be linked to other websites that are not under the control of Substance Search. We have no control over the nature, content, and availability of those sites. The inclusion of any links does not necessarily imply a recommendation or endorse the views expressed within them. Substance Search is not responsible for any content or information provided on these external websites.</p>

    <h2>Use at Your Own Risk</h2>
    <p>The use of any information provided on this website is solely at your own risk. Substance Search will not be liable for any decisions made or actions taken in reliance on the information provided by this website. It is essential to consult with a qualified professional before making any decisions related to health, legal, or other professional matters.</p>

    <h2>Reservation of Rights</h2>
        <p>Substance Search reserves the right to make additions, deletions, or modifications to the information on the website at any time without prior notice. While we strive to keep the information up-to-date and correct, we make no representations or warranties of any kind about the completeness, accuracy, reliability, suitability, or availability with respect to the website or the information contained on the website for any purpose.</p>

    <h2>Acceptance of Terms</h2>
    <p>By using this website, you hereby consent to our disclaimers and agree to its terms. If you do not agree with this disclaimer or any part of it, you should not use our website. We reserve the right to modify these terms at any time, and it is your responsibility to review this disclaimer periodically for any changes.</p>

    <div class="last-updated">
        <p>Last updated: 1/29/2025</p>
    </div>
{% endblock %}
