<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Substance Search{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
        <link rel="stylesheet" href="/static/css/styles.css">
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
        <script src="/static/js/autocomplete.js"></script>
        <script src="/static/js/theme.js"></script>
    {% endblock %}
</head>
<body class="container {{ theme }}">
    <header>
        {% block header %}
            <div class="header-container">
                <a class="nav-link" id="home-link" href="/">Home</a>

                <div class="search-container">
                    <input type="text" id="search" placeholder="Search for a substance..." autocomplete="off">
                    <ul id="suggestions"></ul>
                </div>

                <a class="nav-link" id="discord-link" href="https://discord.gg/wFPBxYRBN" rel="noopener" target="_blank">Discord</a>
                <a class="nav-link" id="leaderboard-link" href="/leaderboard">Contributions</a>
								<button class="nav-link" id="theme-toggle" onclick="toggleTheme()">
									<!-- Icons from https://lucide.dev/ -->
									<svg class="theme-icon" id="theme-icon-sun" style="display: none" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="4"/><path d="M12 2v2"/><path d="M12 20v2"/><path d="m4.93 4.93 1.41 1.41"/><path d="m17.66 17.66 1.41 1.41"/><path d="M2 12h2"/><path d="M20 12h2"/><path d="m6.34 17.66-1.41 1.41"/><path d="m19.07 4.93-1.41 1.41"/></svg>
									<svg class="theme-icon" id="theme-icon-moon" style="display: none" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M12 3a6 6 0 0 0 9 9 9 9 0 1 1-9-9Z"/></svg>
								</button>
            </div>
        {% endblock %}
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        {% block footer %}
            <div class="footer-container">
                <div class="footer-block">
                    <h2>Substance categories</h2>
                    <ul>
                        <li><a href="/category/barbiturate">Barbiturates</a></li>
                        <li><a href="/category/benzodiazepine">Benzos</a></li>
                        <li><a href="/category/deliriant">Deliriants</a></li>
                        <li><a href="/category/depressant">Depressants</a></li>
                        <li><a href="/category/dissociative">Dissociatives</a></li>
                        <li><a href="/category/empathogen">Empathogens</a></li>
                        <li><a href="/category/nootropic">Nootropics</a></li>
                        <li><a href="/category/opioid">Opioids</a></li>
                        <li><a href="/category/psychedelic">Psychedelics</a></li>
                        <li><a href="/category/research-chemical">RCs</a></li>
                        <li><a href="/category/stimulant">Stimulants</a></li>
                        <li><a href="/category/supplement">Supplements</a></li>
                    </ul>
                </div>
                <div class="footer-block">
                    <h2>Want to contribute?</h2>
                    <ul>
                        <li><a href="https://discord.gg/wFPB9xYRBN" rel="noopener" target="_blank">Join our Discord</a></li>
                        <li><a href="/leaderboard">Contributors</a></li>
                        <li><a href="https://github.com/ded-grl/SubstanceSearch">GitHub</a></li>
                        <li><a href="/disclaimer">Disclaimer</a></li>
                    </ul>
                </div>
            </div>
            <p class="tripsit-notice">💕Data provided by <a href="https://tripsit.me" target="_blank" rel="noopener"><img src="https://tripsit.me/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Flogo.081b8d2e.png&w=3840&q=75" alt="TripSit Home Page"></img></a>💕</p>
        {% endblock %}
    </footer>
</body>
</html>
