{% extends "layout.html" %}

{% block title %}Contributor Leaderboard - Substance Search{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/leaderboard.css">
{% endblock %}

{% block content %}
    <!-- Title and Purpose -->
    <p>The leaderboard highlights top code contributors to the GitHub repo for this website. By submitting research papers, dosage feedback, site suggestions, new substances, and more on our Discord server, our community ensures the site remains accurate and up-to-date. <strong>Strength in numbers.</strong></p>

    <!-- Leaderboard Table -->
    <table>
        <thead>
            <tr>
                <th>Rank</th>
                <th>Contributor</th>
                <th>Contributions</th>
            </tr>
        </thead>
        <tbody>
            {% for row in contributors %}
                <tr>
                    <td>{{ row.rank }}</td>
                    <td>{{ row.login }}</td>
                    <td>{{ row.contributions }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <!-- GitHub Link -->
    <div class="note-banner">
        Want to improve the website? Here is how you can help: <a href="https://github.com/ded-grl/SubstanceSearch/blob/main/CONTRIBUTING.md" target="_blank">Join Now</a>
    </div>

{% endblock %}
