body,
body.light {
	color-scheme: light;
	--background: #f9f9f9;
	--background-hover: #e0e0e0;
	--background-darker: #f0f0f0;
	--background-darker-alt: #f2f2f2;
	--text: #333;
	--text-alt: #444;
	--text-placeholder: #888;
	--border: #ccc;
	--border-alt: #ddd;
	--shadow: rgba(0, 0, 0, 0.1);
	--shadow-hover: rgba(0, 0, 0, 0.2);
	--category-antidepressant: #ff4500;
	--category-barbiturate: #f08080;
	--category-benzodiazepine: #ffdead;
	--category-common: #b6b6b6;
	--category-deliant: #ffffe0;
	--category-deliriant: #ffe4e1;
	--category-depressant: #add8e6;
	--category-disassociative: #ff7f50;
	--category-dissociative: #87cefa;
	--category-empathogen: #ff69b4;
	--category-entactogen: #20b2aa;
	--category-habit-forming: #ffa07a;
	--category-hallucinogen: #ff6347;
	--category-inactive: #636363;
	--category-nootropic: #afeeee;
	--category-opioid: #ba55d3;
	--category-psychedelic: #ffb6c1;
	--category-research-chemical: #98fb98;
	--category-sedative: #9370db;
	--category-ssri: #7e8acb;
	--category-stimulant: #ffd700;
	--category-supplement: #98fb98;
	--category-tentative: #c9d562;
}

body.dark {
	color-scheme: dark;
	--background: #121212;
	--background-hover: #444;
	--background-darker: #333;
	--background-darker-alt: #363636;
	--text: #ffffff;
	--text-alt: #dfdfdf;
	--text-placeholder: #8b8b8b;
	--border: #444;
	--border-alt: #555;
	--shadow: rgba(255, 255, 255, 0.1);
	--shadow-hover: rgba(255, 255, 255, 0.2);
	--category-antidepressant: #ff4500;
	--category-barbiturate: #f08080;
	--category-benzodiazepine: #c9a570;
	--category-common: #878787;
	--category-deliant: #bfbf82;
	--category-deliriant: #cd9893;
	--category-depressant: #70a0b0;
	--category-disassociative: #ff7f50;
	--category-dissociative: #5da0ca;
	--category-empathogen: #d1438a;
	--category-entactogen: #20b2aa;
	--category-habit-forming: #cf734f;
	--category-hallucinogen: #ff6347;
	--category-inactive: #424242;
	--category-nootropic: #78c4c4;
	--category-opioid: #ba55d3;
	--category-psychedelic: #c67582;
	--category-research-chemical: #67d467;
	--category-sedative: #9370db;
	--category-ssri: #7c83ac;
	--category-stimulant: #ccad00;
	--category-supplement: #67d367;
	--category-tentative: #b7be72;
}

body {
	font-family: "Helvetica Neue", sans-serif;
	background-color: var(--background);
	margin: 0;
	padding: 0;
}

.container {
	width: 80%;
	max-width: 1200px;
	margin: 0 auto;
	min-height: 100svh;
	display: flex;
	flex-direction: column;
	row-gap: 1rem;
}

header > h1 {
	text-align: center;
}

main {
	margin-bottom: auto;
	flex-grow: 1;
}

/* Header styles */
.header-container {
	margin-top: 1rem;
	display: flex;
	column-gap: 1rem;
	justify-content: flex-start; /* Align items to the left horizontally */
	padding: 1rem 0;
	flex-wrap: nowrap; /* Ensure items don't wrap */
	box-sizing: border-box;
}

.header-container .nav-link {
	text-decoration: none;
	color: white;
	border-radius: 5px;
	box-sizing: border-box;
	flex: 0 1 0;
	height: 3rem;
	padding: 0 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	white-space: nowrap;
	font-weight: bold;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	box-shadow: 0 4px 8px var(--shadow);
}

.header-container .nav-link:hover {
	cursor: pointer;
	transform: translateY(-5px);
	box-shadow: 0 8px 16px var(--shadow-hover);
}

.header-container .nav-link::after {
	margin-left: 4px;
}

.header-container button {
	border: none;
	padding: 0;
}

#home-link {
	background-color: #ff008b;
}

#home-link::after {
	content: "💊";
}

#discord-link {
	background-color: #ba55d3;
}

#discord-link::after {
	content: "💻";
}

#leaderboard-link {
	background-color: #9185b5;
}

#leaderboard-link::after {
	content: "🏆";
}

#theme-toggle {
	color: var(--text);
	background-color: var(--background-darker);
	width: 3rem;
}

#theme-toggle > .theme-icon {
	transform: scale(1.3);
}

.hover {
	cursor: pointer;
}

/* Search container styling */
.search-container {
	flex: 1 1 auto; /* Allow it to grow and shrink */
	box-sizing: border-box;
}

/* Search input styling */
#search {
	width: 100%;
	padding: 10px 20px;
	font-size: 16px;
	line-height: 1.5;
	border-bottom: 2px solid var(--border);
	border-radius: 5px;
	box-sizing: border-box;
	margin: 0;
}

/* Hide suggestions when empty */
#suggestions:empty {
	display: none;
}

/* Style the suggestions dropdown */
#suggestions {
	list-style-type: none;
	padding: 0;
	margin: 1rem 0 0 0;
	text-align: left;
    color: var(--text);
}

/* Style each suggestion item */
#suggestions li {
	padding: 10px;
	border-bottom: 1px solid var(--border-alt);
	cursor: pointer;
	transition: background-color 0.2s ease;
}

/* Highlight suggestion on hover */
#suggestions li:hover {
	background-color: var(--background-darker);
}

h1 {
	font-size: 2.5rem;
	margin-bottom: 10px;
	color: var(--text);
}

h1 > span {
	display: inline-block;
}

input[type="text"] {
	width: 100%;
	padding: 12px 15px;
	font-size: 18px;
	border: 2px solid var(--border);
	border-radius: 8px;
	box-shadow: 0 4px 10px var(--shadow);
	margin-bottom: 20px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

input[type="text"]::placeholder {
	color: var(--text-placeholder);
}

.footer-container {
	display: flex;
	flex-direction: row;
	column-gap: 4rem;
	row-gap: 2rem;
	color: #777 !important;
	font-size: 14px;
	margin: 8rem 0 2rem 0;
}

.footer-block {
	flex: 0 1 100%;
}

.footer-block h2 {
	font-size: inherit;
	color: inherit;
	margin: 0;
}

.footer-block ul {
	display: grid;
	grid-template-columns: repeat(4, fit-content(100%));
	padding: 0;
	margin: 0;
	column-gap: 2rem;
}

.footer-block li {
	list-style: none;
	margin: 1rem 0 0 0;
}

.footer-block a {
	text-decoration: none;
	color: inherit;
	white-space: nowrap;
}

.tripsit-notice {
	width: 100%;
	text-align: center;
	font-size: 14px;
	color: #777;
}

.tripsit-notice img {
	height: 2rem;
	vertical-align: middle;
}

@media (max-width: 1200px) {
	.footer-block ul {
		grid-template-columns: repeat(2, fit-content(100%));
	}
}

@media (max-width: 768px) {
	h1 {
		font-size: 2rem;
	}

	.footer-container {
		flex-direction: column;
	}

	#home-link::after {
		margin: 0;
		content: "";
	}

	#discord-link {
		display: none;
	}

	#leaderboard-link {
		display: none;
	}

	.footer-block ul {
		grid-template-columns: repeat(4, fit-content(100%));
	}
}

@media (max-width: 480px) {
	.footer-block ul {
		grid-template-columns: repeat(2, fit-content(100%));
	}
}

