{% extends "layout.html" %}

{% block header %}
    <h1 style="padding-bottom: 15px;"><span role="img" aria-label="search icon" style="padding-right: 10px;">🔍</span><span>Substance Search</span></h1>
    <input type="text" id="search" placeholder="Search for a substance..." autocomplete="off">
    <ul id="suggestions"></ul>
{% endblock %}

{% block content %}
    <section class="categories">
        <h2>Browse by Category</h2>
        <div class="category-grid">
            {% for category in categories %}
                <a href="/category/{{ category|lower }}" class="category-card" style="background-color: {{ category_colors.get(category.lower(), '#f0f0f0') }}">
                    <div class="category-name">
                        {% if category == 'Barbiturate' %}
                            💊 Barbiturates 💊
                        {% elif category == 'Benzodiazepine' %}
                            💤 Benzos 😴
                        {% elif category == 'Deliriant' %}
                            🤯 Deliriants 🌫️
                        {% elif category == 'Depressant' %}
                            😔 Depressants 🛌
                        {% elif category == 'Dissociative' %}
                            🌀 Dissociatives 💫
                        {% elif category == 'Empathogen' %}
                            💞 Empathogens ❤️
                        {% elif category == 'Nootropic' %}
                            📚 Nootropics 🧠
                        {% elif category == 'Opioid' %}
                            💉 Opioids ⚖️
                        {% elif category == 'Psychedelic' %}
                            🍄 Psychedelics 🌈
                        {% elif category == 'Research-chemical' %}
                            🔬 RCs 🧪
                        {% elif category == 'Stimulant' %}
                            🚀 Stimulants ⚡
                        {% elif category == 'Supplement' %}
                            🌿 Supplements 🍃
                        {% else %}
                            {{ category }}
                        {% endif %}
                    </div>
                </a>
            {% endfor %}
        </div>
    </section>
{% endblock %}

