<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Metadata and external resources -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <title>{{ substance.pretty_name }}</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/substance.css">
    <!-- Include Chart.js library -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js"></script>
     <!-- Include autocomplete.js -->
    <script src="/static/js/autocomplete.js"></script>
    <script src="/static/js/substance.js"></script>

</head>
<body>
    <div class="container">

        <!-- Header with Home Button and Search Bar -->
        <div class="header">
            <a href="/">🏠 Home</a>
            <div class="search-container">
                <input type="text" id="search" placeholder="Search for a substance..." autocomplete="off">
                <ul id="suggestions"></ul>
            </div>
        </div>

        <!-- Substance Name -->
        <h1>{{ substance.pretty_name }}</h1>

        <!-- Aliases Section -->
        {% if substance.get('aliases') %}
            <p><strong>Aliases:</strong> {{ ', '.join(substance.get('aliases', [])) }}</p>
        {% endif %}

        <!-- Categories Section -->
        <h2>Categories</h2>
        <p>
            {% for category in substance.categories %}
                <a href="/category/{{ category|lower }}" class="category-link" style="background-color: {{ category_colors.get(category.lower(), '#f0f0f0') }}">
                    {{ category }}
                </a>
            {% endfor %}
        </p>

        <!-- Summary -->
        {% if substance.get('properties', {}).get('summary') %}
            <h2>Summary</h2>
            <p>{{ substance['properties']['summary'] }}</p>
        {% endif %}

        {% if substance.get('formatted_dose') %}
            <!-- Dose Information -->
            <div class="dose-info-container" style="margin: 0; padding: 0;">
                <!-- WARNING Banner -->
                {% if substance['properties'].get('warning') or substance['properties'].get('avoid') %}
                    <div class="warning-banner">
                        {% if substance['properties'].get('warning') %}
                            ⚠️ WARNING: {{ substance['properties']['warning'] }}
                        {% endif %}
                        {% if substance['properties'].get('avoid') %}
                            ⚠️ AVOID: {{ substance['properties']['avoid'] }}
                        {% endif %}
                    </div>
                {% endif %}
            </div>

            <!-- NOTE or dose_note Banner extracted from the dose or duration fields -->
            {% set dose_note = None %}
            {% set duration_note = None %}

            {% if 'NOTE:' in substance.get('properties', {}).get('dose', '') %}
                {% set dose_note = substance['properties']['dose'].split('NOTE: ')[1] %}
            {% elif 'Note:' in substance.get('properties', {}).get('dose', '') %}
                {% set dose_note = substance['properties']['dose'].split('Note: ')[1] %}
            {% endif %}

            {% if 'NOTE:' in substance.get('properties', {}).get('duration', '') %}
                {% set duration_note = substance['properties']['duration'].split('NOTE: ')[1] %}
            {% elif 'Note:' in substance.get('properties', {}).get('duration', '') %}
                {% set duration_note = substance['properties']['duration'].split('Note: ')[1] %}
            {% endif %}

            {% if dose_note or duration_note %}
                <div class="note-banner">
                    {% if dose_note %}
                        ⚠️ {{ dose_note }}
                    {% endif %}
                    {% if duration_note %}
                        <br>⚠️ {{ duration_note }}
                    {% endif %}
                </div>
            {% endif %}

            <!-- Dosage Chart and Table Section -->
            <h2>Dose Information</h2>
            <!-- Container for the chart and table -->
            <div class="chart-table-container">
                <!-- Chart and legend -->
                <div class="chart-container">
                    <canvas id="doseChart" style="max-height: 250px; width: 100%;"></canvas>
                    <!-- Add the dosage legend below the chart -->
                    <div id="doseLegend" class="dose-legend">
                        <!-- Legend items will be added dynamically -->
                    </div>
                </div>
                <!-- Dosage Table -->
                <div class="table-container">
                    <table>
                        <thead id="doseTableHead">
                            <tr>
                                <!-- Headers will be added dynamically -->
                            </tr>
                        </thead>
                        <tbody id="doseTableBody">
                            <!-- Rows will be added dynamically -->
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}

        <!-- Onset, Duration & After-effects -->
        <div class="onset-duration-container">
            <div class="onset-duration-box">
                <h2>Onset, Duration & After-effects</h2>
                <ul>
                    {% if substance.get('formatted_onset') %}
                        <li><strong>Onset:</strong>
                            {% if 'value' in substance['formatted_onset'] %}
                                {{ substance['formatted_onset']['value'] }} {{ substance['formatted_onset'].get('_unit', '') }}
                            {% else %}
                                <ul>
                                    {% for method, time in substance['formatted_onset'].items() %}
                                        {% if method != '_unit' %}
                                            <li><strong>{{ method }}:</strong> {{ time }} {{ substance['formatted_onset'].get('_unit', '') }}</li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                    {% endif %}
                    {% if substance.get('formatted_duration') %}
                        <li><strong>Duration:</strong>
                            {% if 'value' in substance['formatted_duration'] %}
                                {{ substance['formatted_duration']['value'] }} {{ substance['formatted_duration'].get('_unit', '') }}
                            {% else %}
                                <ul>
                                    {% for method, time in substance['formatted_duration'].items() %}
                                        {% if method != '_unit' %}
                                            <li><strong>{{ method }}:</strong> {{ time }} {{ substance['formatted_duration'].get('_unit', '') }}</li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                    {% endif %}
                    {% if substance.get('formatted_aftereffects') %}
                        <li><strong>After-effects:</strong>
                            {% if 'value' in substance['formatted_aftereffects'] %}
                                {{ substance['formatted_aftereffects']['value'] }} {{ substance['formatted_aftereffects'].get('_unit', '') }}
                            {% else %}
                                <ul>
                                    {% for method, time in substance['formatted_aftereffects'].items() %}
                                        {% if method != '_unit' %}
                                            <li><strong>{{ method }}:</strong> {{ time }} {{ substance['formatted_aftereffects'].get('_unit', '') }}</li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>

        <!-- Effects Section -->
        {% if substance.get('formatted_effects') %}
            <h2>Effects</h2>
            <div class="effects-box">
                <ul>
                    {% for effect in substance['formatted_effects'] %}
                        <li>{{ effect }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

		<!-- Additional Effects Section -->
		{% if substance.get('pweffects') and substance.get('formatted_effects') %}
		    <button class="collapsible">📊 Additional Effects</button>
		    <div class="content">
		        <ul>
		            {% for effect in substance['pweffects'] %}
		                <li>{{ effect }}</li>
		            {% endfor %}
		        </ul>
		    </div>
		{% endif %}
	
		<!-- Helpful Links Section -->
		{% if substance.get('links') %}
		    <h2>Helpful Links</h2>
		    <div class="links-container">
		        {% if substance['links'].get('experiences') %}
		            <a href="{{ substance['links']['experiences'] }}" class="modern-link" target="_blank">
		                📘 Experience Reports
		            </a>
		        {% endif %}
		        {% if substance['links'].get('pihkal') %}
		            <a href="{{ substance['links']['pihkal'] }}" class="modern-link" target="_blank">
		                📖 PiHKAL
		            </a>
		        {% endif %}
		        {% if substance['links'].get('tihkal') %}
		            <a href="{{ substance['links']['tihkal'] }}" class="modern-link" target="_blank">
		                📚 TiHKAL
		            </a>
		        {% endif %}
		    </div>
		{% endif %}

	

		<!-- Known Combinations Section -->
		{% if substance.get('combos') %}
		    <h2>Known Combinations</h2>
	
		    <!-- Dangerous Section -->
		    {% set dangerous_combos = [] %}
		    {% for combo, data in substance['combos'].items() %}
		        {% if data['status'] == 'Dangerous' and data.get('note') %}
		            {% set _ = dangerous_combos.append({'combo': combo, 'note': data['note']}) %}
		        {% endif %}
		    {% endfor %}
		    {% if dangerous_combos %}
		        <button class="collapsible">☠️ Dangerous ☠️</button>
		        <div class="content">
		            <p>These combinations are considered extremely harmful and should always be avoided.</p>
		            {% for combo_data in dangerous_combos %}
		                <div class="combo-box dangerous">
		                    <strong>{{ combo_data.combo }}:</strong> {{ combo_data.note }}
		                </div>
		            {% endfor %}
		        </div>
		    {% endif %}
	
		    <!-- Unsafe Section -->
		    {% set unsafe_combos = [] %}
		    {% for combo, data in substance['combos'].items() %}
		        {% if data['status'] == 'Unsafe' and data.get('note') %}
		            {% set _ = unsafe_combos.append({'combo': combo, 'note': data['note']}) %}
		        {% endif %}
		    {% endfor %}
		    {% if unsafe_combos %}
		        <button class="collapsible">🛑 Unsafe 🛑</button>
		        <div class="content">
		            <p>There is considerable risk of physical harm when taking these combinations, they should be avoided where possible.</p>
		            {% for combo_data in unsafe_combos %}
		                <div class="combo-box unsafe">
		                    <strong>{{ combo_data.combo }}:</strong> {{ combo_data.note }}
		                </div>
		            {% endfor %}
		        </div>
		    {% endif %}
	
		    <!-- Caution Section -->
		    {% set caution_combos = [] %}
		    {% for combo, data in substance['combos'].items() %}
		        {% if data['status'] == 'Caution' and data.get('note') %}
		            {% set _ = caution_combos.append({'combo': combo, 'note': data['note']}) %}
		        {% endif %}
		    {% endfor %}
		    {% if caution_combos %}
		        <button class="collapsible">⚠️ Caution ⚠️</button>
		        <div class="content">
		            <p>These combinations are not usually physically harmful, but may produce undesirable effects.</p>
		            {% for combo_data in caution_combos %}
		                <div class="combo-box caution">
		                    <strong>{{ combo_data.combo }}:</strong> {{ combo_data.note }}
		                </div>
		            {% endfor %}
		        </div>
		    {% endif %}
	
		    <!-- Low Risk & Synergy Section -->
		    {% set low_risk_synergy_combos = [] %}
		    {% for combo, data in substance['combos'].items() %}
		        {% if data['status'] == 'Low Risk & Synergy' and data.get('note') %}
		            {% set _ = low_risk_synergy_combos.append({'combo': combo, 'note': data['note']}) %}
		        {% endif %}
		    {% endfor %}
		    {% if low_risk_synergy_combos %}
		        <button class="collapsible">↗ Low Risk & Synergy ↗</button>
		        <div class="content">
		            <p>These drugs work together to cause an effect greater than the sum of their parts.</p>
		            {% for combo_data in low_risk_synergy_combos %}
		                <div class="combo-box low-risk-synergy">
		                    <strong>{{ combo_data.combo }}:</strong> {{ combo_data.note }}
		                </div>
		            {% endfor %}
		        </div>
		    {% endif %}
	
		    <!-- Low Risk & No Synergy Section -->
		    {% set low_risk_no_synergy_combos = [] %}
		    {% for combo, data in substance['combos'].items() %}
		        {% if data['status'] == 'Low Risk & No Synergy' and data.get('note') %}
		            {% set _ = low_risk_no_synergy_combos.append({'combo': combo, 'note': data['note']}) %}
		        {% endif %}
		    {% endfor %}
		    {% if low_risk_no_synergy_combos %}
		        <button class="collapsible">➡ Low Risk & No Synergy ➡</button>
		        <div class="content">
		            <p>Effects are additive. The combination is unlikely to cause any adverse or undesirable reaction.</p>
		            {% for combo_data in low_risk_no_synergy_combos %}
		                <div class="combo-box low-risk-no-synergy">
		                    <strong>{{ combo_data.combo }}:</strong> {{ combo_data.note }}
		                </div>
		            {% endfor %}
		        </div>
		    {% endif %}
	
		    <!-- Low Risk & Decrease Section -->
		    {% set low_risk_decrease_combos = [] %}
		    {% for combo, data in substance['combos'].items() %}
		        {% if data['status'] == 'Low Risk & Decrease' and data.get('note') %}
		            {% set _ = low_risk_decrease_combos.append({'combo': combo, 'note': data['note']}) %}
		        {% endif %}
		    {% endfor %}
		    {% if low_risk_decrease_combos %}
		        <button class="collapsible">↘ Low Risk & Decrease ↘</button>
		        <div class="content">
		            <p>Effects are subtractive. The combination is unlikely to cause any adverse or undesirable reaction.</p>
		            {% for combo_data in low_risk_decrease_combos %}
		                <div class="combo-box low-risk-decrease">
		                    <strong>{{ combo_data.combo }}:</strong> {{ combo_data.note }}
		                </div>
		            {% endfor %}
		        </div>
		    {% endif %}
		{% endif %}
	
        
		<!-- Studies Section -->
		{% if substance.get('sources', {}).get('_general') %}
		    <h2>Studies</h2>
		    <button class="collapsible">🔗 Sources</button>
		    <div class="content sources-section">
		        <ul>
		            {% for source in substance['sources']['_general'] %}
		                {# Split the source into the text and the URL #}
		                {% set parts = source.split(' - ') %}
		                <li>
		                    <a href="{{ parts[1] }}" target="_blank">{{ parts[0] }}</a>
		                </li>
		            {% endfor %}
		        </ul>
		    </div>
		{% endif %}


    <script>
        // JavaScript to handle collapsible sections
        var coll = document.getElementsByClassName("collapsible");
        for (var i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.display === "block") {
                    content.style.display = "none";
                } else {
                    content.style.display = "block";
                }
            });
        }
    </script>
</body>
</html>
